{%load static %}
<!DOCTYPE>
<html>
  <head>
   
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<!-- static nebar link-->
{%load static %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/base.css'%}">

<!--main.js for js folder-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<!-- Fontawesome Links icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    
<!--Fontawesome link for text-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap" rel="stylesheet">

<!--Autocomplete link-->
<link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>


<!-- jQuery for auto search last -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- jQuery UI for auto search last-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

 <title>House </title>

</head>
<body>

  <style>
    body,
		html {
			margin: 0;
			padding: 0;
			height: auto;
			background-color: #051937;
      
		}

    .card {
			margin-top: auto;
			margin-bottom: auto;
			background: #6C8785;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
    .card:hover{
	    -webkit-box-shadow: 5px 5px 20px 5px rgba(51,31,4,0.99); 
        box-shadow: 5px 5px 20px 5px rgba(51,31,4,0.99);
		}  
    i{
      color:#663366;
      
    }
    .input-group-text{
      width:700px;
      height:50px;
    }
  </style>

  </head>
  <body>
  <div class="container">        
      <div class="nav-wrap">
          <div class="logo">
             <h1><i class="fas fa-home"></i>HOME</h1>     
          </div>
      <div class="menu">
         <ul>
          <li>
            <button type="submit" class="btn btn-danger btn-md"> <a href="/">Back to Home</a></button>
          </li>
        </ul>
      </div>
                
   </div>
  </div>

      <div class="row">
      <div class="col-lg-6 m-auto">
      <div class="card mt-5">
      
      <div class="card-title text-center mt-3">
      <img src="{% static 'image/man2.jpg' %}" width="100px" height="100px">
      </div>

      <div class="d-flex justify-content-center">
        <h3 id="form-title">Please fillup House Characteristic</h3>
      </div>
      
      <div class="card-body">
      
      <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} 
      
      <div class="input-group-lg mb-3">
      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="fa fa-user fa-2x"></i>
      <h4> Enter Your Name</h4>
      </span>
      </div>
      <input type="text" Required name="ownername" class="form-control py-4" placeholder="Enter your name">
      </div>
      
      <div class="input-group-lg mb-3">
      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="fa fa-lock fa-2x"></i>
      <h4>Enter Your Email</h4>
      </span>
      </div>
      <input type="email" Required name="email" class="form-control py-4" placeholder="Enter your email">
      </div>

      <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
        <i class="fa fa-lock fa-2x"></i>
        <h4>Enter Your Phone Number</h4>
        </span>
        </div>
        <input type="number" Required name="phn" class="form-control py-4" placeholder="Enter your phone number">
        </div>

      <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
        <i class="fas fa-file-image fa-2x"></i>
        <h4>Enter Your NID Font Side Image</h4>
        </span>
        </div>
        <input type="file" Required name="imgidfont" class="form-control py-4" placeholder="Enter your NID font side image">
        </div>

      
        <div class="input-group-lg mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text">
          <i class="fas fa-file-image fa-2x"></i>
          <h4>Enter Your NID Back Side Image</h4>
          </span>
          </div>
          <input type="file" Required name="imgidback" class="form-control py-4" placeholder="Enter your NID back side image">
          </div>
      
      

      <div class="input-group-lg mb-3 ">
      <div class="input-group-prepend">
      <span class="input-group-text">
      <i class="fas fa-home fa-2x"></i>
      <h4>Enter House Category</h4>
      </span>
      </div>
      <input type="text"  Required name="housecategory"  class="form-control py-4" placeholder="Enter house category">
      </div>

      <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
        <i class="fas fa-monument fa-2x"></i>
        <h4>Enter House Name</h4>
        </span>
        </div>
        <input type="text" Required name="housename" class="form-control py-4" placeholder="Enter house name">
        </div>
        
        <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
        <i class="fa fa-tenge fa-2x"></i>
        <h4>Enter House Rent</h4>
        </span>
        </div>
        <input type="number" Required name="houserent" class="form-control py-4" placeholder="Enter house rent">
        </div>
        
        <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
        <i class="fas fa-file-image fa-2x"></i>
        <h4>Enter House Image</h4>
        </span>
        </div>
        <input type="file" Required name="img" class="form-control py-4" placeholder="Enter house image">
        </div>
  
        <div class="input-group-lg mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
        <i class="fas fa-city fa-2x"></i>
        <h4>Your Division</h4>
        </span>
        </div>
        <input type="text" Required name="division"  class="form-control py-4" placeholder="Add division">
        </div>


        <div class="input-group-lg mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text">
          <i class="far fa-building fa-2x"></i>
          <h4>Your District</h4>
          </span>
          </div>
          <input type="text" Required name="district" class="form-control py-4" placeholder="Add district">
          </div>
          
          <div class="input-group-lg mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text">
          <i class="fas fa-vihara fa-2x"></i>
          <h4>Your Area Name</h4>
          </span>
          </div>
          <input type="text" Required name="area" class="form-control py-4" placeholder="Add your area">
          </div>
          
          <div class="input-group-lg mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text">
          <i class="fas fa-hat-cowboy-side fa-2x"></i>
          <h4>House Size</h4>
          </span>
          </div>
          <input type="text" Required name="housesize" class="form-control py-4" placeholder="Enter house size">
          </div>
    
          <div class="input-group-lg mb-3">
          <div class="input-group-prepend">
          <span class="input-group-text">
          <i class="fas fa-hospital fa-2x"></i>
          <h4>Total Bedroom</h4>
          </span>
          </div>
          <input type="number" Required name="bedroom"  class="form-control py-4" placeholder="Enter total bedroom">
          </div>

          <div class="input-group-lg mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="fas fa-hospital fa-2x"></i>
            <h4>Dinning Room</h4>
            </span>
            </div>
            <input type="number" Required name="dinning" class="form-control py-4" placeholder="Enter total dinning room">
            </div>
            
            <div class="input-group-lg mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="fas fa-hospital fa-2x"></i>
            <h4>Drawing Room</h4>
            </span>
            </div>
            <input type="number" Required name="drawing" class="form-control py-4" placeholder="Enter total drawing room">
            </div>
            
            <div class="input-group-lg mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="fas fa-bath fa-2x"></i>
            <h4>Bathroom Room</h4>
            </span>
            </div>
            <input type="number" Required name="bathroom" class="form-control py-4" placeholder="Enter total bathroom">
            </div>
      
            <div class="input-group-lg mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="fas fa-hospital fa-2x"></i>
            <h4>Kitchen</h4>
            </span>
            </div>
            <input type="number" Required name="kitchen"  class="form-control py-4" placeholder="Enter kichen">
            </div>

            <div class="input-group-lg mb-3">
              <div class="input-group-prepend">
              <span class="input-group-text">
              <i class="fas fa-hospital fa-2x"></i> <!--#style="color:blue; o dity paro-->
              <h4>Balcony</h4>
              </span>
              </div>
              <input type="number" Required name="balcony" class="form-control py-4" placeholder="Total balcony">
              </div>
            


            <div class="input-group-lg mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">
                <i class="fas fa-hat-cowboy-side fa-2x"></i>
                <h4>Your House Full Details Add</h4>
                </span>
                </div>

                 <input type="text" Required name="allinfo" aria-label="Large" class="form-control py-4" placeholder="Add your house full details">
                </div>   
  
  <button type="submit" class="btn btn-primary">Save</button>

  <!--messages set -->
  {% if messages %}

  {% for message in messages %}
   <h2 {% if message.tags %} class="{{message.tags}}" {% endif %}>
   {{message}}
   </h2>
  {% endfor %}

  {% endif %}
  
      
</form>

</div>
</div>
</div>
</div>



 <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
     <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    <!--Autocomplete javascript Link-->
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
  </body>
</html>